<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- Bloque 1 y 2 -->
        <div class="d-flex">
            <!-- Bloque 1 -->
            <div>
                <a class="navbar-brand" href="#">
                    <img src="assets/Imagen1.png" width="67" height="55" alt="McLovin Boys">
                </a>
            </div>
            <!-- Bloque 2 -->
            <div class="d-flex align-items-center">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active d-flex align-items-center">
                        <a class="nav-link with-border" href="#">McLovin Boys</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Bloque 3 -->
        <div class="ml-auto d-flex align-items-center">
            <span class="navbar-text with-border2" style="margin-right: 20px;">Nombre del usuario <i class="bi bi-person-circle"> </i></span>
            <span style="margin-right: 20px;"> ROL </span>
        </div>
    </div>
</nav>
<hr>
