<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row p-0">
        <div class="col-3">
            <div class="d-flex">
                <div class="bg-light with-border" id="sidebar-wrapper">
                    <div class="sidebar-heading">Proyecto</div>
                    <div class="list-group list-group-flush">
                        <div class="p-3 mt-4 mb-4 title">
                            <strong>Gestión de la configuración de software</strong>
                        </div>
                        <hr>
                        <div class="mt-4"></div>
                        <a href="#" class="list-group-item bg-light mb-5"><i class="bi bi-calendar-check"></i> Nómina</a>
                        <a href="#" class="list-group-item bg-light mb-5"><i class="bi bi-person-rolodex"></i> Roles</a>
                        <div class="mb-4"></div>
                        <hr>
                        <a href="#" class="list-group-item bg-light mb-2 mt-2"><i class="bi bi-box-arrow-left"></i> Cerrar sesión</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-9 d-flex align-items-end justify-content-end">
            <div id="page-content-wrapper">
                <div class="container-fluid content">
                    <h1 class="mt-4">Bienvenido</h1>
                </div>
            </div>
        </div>

    </div>
</div>
