<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row p-0">
        <div class="col-3">
            <div class="d-flex">
                <div class="bg-light with-border" id="sidebar-wrapper">
                    <div class="sidebar-heading">Proyecto</div>
                    <div class="list-group list-group-flush">
                        <div class="p-3 mt-2 mb-2 title">
                            <strong>Gestión de la configuración de software</strong>
                        </div>
                        <hr>
                        <div class="mt-3"></div>
                        <a href="#" class="list-group-item bg-light mb-3"><i class="bi bi-calendar-check"></i>
                            Nómina</a>
                        <a href="#" class="list-group-item bg-light mb-3"><i class="bi bi-bar-chart"></i> Índices
                            estadísticos</a>
                        <a href="#" class="list-group-item bg-light mb-3"><i class="bi bi-building"></i> Actividades</a>
                        <a href="#" class="list-group-item bg-light mb-3"><i class="bi bi-person"></i> Perfil</a>
                        <div class="mb-3"></div>
                        <hr>
                        <a href="#" class="list-group-item bg-light mb-2"><i class="bi bi-box-arrow-right"></i> Cerrar sesión</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-9 d-flex align-items-end justify-content-end">
            <div id="page-content-wrapper">
                <div class="container-fluid content">
                    <h1 class="mt-4">Bienvenido</h1>
                </div>
            </div>
        </div>

    </div>
</div>
