/* You can add global styles to this file, and also import other style files */
html {
    height: 99%;
    margin: 3px;
    background-color: #f8f9fa;
    /* Background color for the entire page */
}